*.pyc
__pycache__
things to do.txt
Competitive Analysis.docx
Competitive Analysis.pdf
project proposal.txt
storyboard.png
timesheet.txt
updates1.txt
*.xcf
Pictures/beat example.png
Pictures/beat example4.png
Pictures/beat example3.png
Songs/Song Roster.txt